<div class="columns">
  <div class="column">
    <h3 class="title">Breeder: <%= @breeder.name %></h3>
  </div>
</div>


<div class="columns is-mobile is-centered">
  <div class="column is-10">
    <div class="box">
      <div class="columns">
        <div class="column is-4">
          Breeder Email:
        </div>
        <div class="column is-8">
          <%= @breeder.email %>
          <button class="button is-rounded is-link is-light is-small" onclick="location.href='mailto:<%= @breeder.email %>';">Email Breeder</button>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          Breeder City:
        </div>
        <div class="column is-8">
          <%= @breeder.city %>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          Breeder Country:
        </div>
        <div class="column is-8">
          <%= @breeder.country %>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          Price Level:
        </div>
        <div class="column is-8">
          <%= @breeder.price_level %>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          Breeder Address:
        </div>
        <div class="column is-8">
          <%= @breeder.address %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @not_this_user %>
  <div class="columns is-mobile is-centered">
    <div class="column is-10 has-text-right">
      <%= link_to "Message Breeder", "/messages/" + @user_id.to_s, class: 'button is-info' %>
    </div>
  </div>
<% end %>

<div class="columns is-mobile is-centered">
  <div class="column is-10">
    <div class="columns is-multiline is-mobile">
      <% @animals.each do | animal | %>
        <div class="column is-4">
          <div class="card shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl hover-translate-y">
            <div class="card-image">
              <figure class="image is-4by3">
                <% if animal.image_link.to_s == '' %>
                  <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                <% else %>
                  <img src="<%= animal.image_link %>" alt="animal picture">
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%= link_to animal.name, animal_path(animal) %></p>
                  <p class="subtitle is-6">@My breeder: <%= Animal.get_breeder(animal.id).name %></p>
                </div>
              </div>

              <div class="content">
                Animal Type: <%= animal.animal_type %>
                <br>
                Breed: <%= animal.breed %>
                <br>
                Price: <%= animal.price %>
                <br>
                Anticipated Birth: <%= animal.anticipated_birthday.getlocal.strftime("%m/%d/%Y") %>
                <br>
                <br>
                <strong>Location:</strong> <%= Animal.get_breeder(animal.id).city%>, <%= Animal.get_breeder(animal.id).country%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>



<div class="columns">
  <div class="column has-text-right">
    <%= link_to "Back", breeders_path, class: 'button is-info' %>

    <% if @is_admin_or_current_breeder %>
      <%= link_to "Delete", "/breeders/redesigned_destroy/" + @breeder.id.to_s, class: 'button is-danger'%>
      <%= link_to "Edit", edit_breeder_path(@breeder), class: 'button is-warning' %>
      <%= link_to 'New Animal', new_animal_path, class:"button is-warning is-light" %>
    <% end %>
  </div>
</div>
